body {
    font-family: arial;
}
.body {
    background-color: burlywood;
}

.title {
    /* border: 1px solid green; */
    position: relative;
    padding-top: 30px;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family: Tahoma;
    letter-spacing: 2px;
    text-shadow: 3px 2px rgb(233, 224, 224);
}

button {
    all: unset;
}

button:hover {
    color: white;
}


/* Add Button CSS */
.addBtn {
    margin-inline-start: 12%;
    box-shadow: 2px 2px 2px rgb(56, 56, 56);
    padding: 4px;
    font-weight: bold;
    background-color: #0D6EFD;
}


/* Export Button CSS */
.expBtn {
    box-shadow: 2px 2px 2px rgb(56, 56, 56);
    padding: 4px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 22, 22);
}

.expBtn:hover {
    color: white;
}


/* data table Css */
.table {
    /* border: 1px solid black; */
    box-shadow: 2px 2px 2px gray;
    text-align: center;
    table-layout: fixed;
    background-color: #ffff;
}


th {
    font-size: 18px;
}


table th, table td {
    border-right: 1px solid rgb(55, 55, 55);
    padding: 5px;
    color: black;
    
}

td:nth-child(1){
    font-weight: bold;
}

td:nth-child(3) {
    position: relative;
}

td:nth-child(3) span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td a {
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 2px rgb(56, 56, 56);
    padding: 3px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background-color: #0D6EFD;
}

td a:nth-child(2){
    background-color: rgb(255, 22, 22);
}

td a:hover{
    color: white;
}


/* delete button design in delete.php */
.delete-modal {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.405);
}

.delete-content {
    border-radius: 20px;
    margin: 15% auto;
    padding: 15px;
    width: 35%;
    height: 10em;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
}

.delete-content > button {
    width: 15%;
    margin-top: 10px;
    margin-left: 22%;
    box-shadow: 2px 2px 2px rgb(56, 56, 56);
    padding: 4px;
    font-weight: bold;
    text-align: center;
    background-color: #0D6EFD;
}

.delete-content > button:nth-child(2){
    /* border: 1px solid red; */
    background-color: rgb(255, 22, 22);

}


/* Modifying bootstrap table */
.dataTables_wrapper {
    margin-block-start: -100%;
    margin: auto;
    width: 95%;
}

.dataTables_length, .dataTables_info, .dataTables_filter, ul.pagination  {
    width: 80%;
    color: black;
    font-weight: bold;
}

.dataTables_length {
    display: none;
}

.dataTables_info {
    margin-inline-start: 28%;
}




/* Add pop-up modal css */
.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.405);
}

.add-content{
    border-radius: 20px ;
    margin: 3% auto;
    width: 50%;
    height: 30em;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    /* overflow-y: scroll; */
}

h2 {
    padding: 15px;
    text-align: center;
}

.add-content > form > button {
    /* border: 1px solid red; */
    width: 15%;
    margin-left: 22%;
    box-shadow: 2px 2px 2px rgb(56, 56, 56);
    padding: 4px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 22, 22);

}

.add-content > form > button:nth-child(13) {
    background-color: rgb(0, 198, 89);
}

.add-content > form > label {
    font-size: 20px;
    font-weight: bold;
    margin-inline-start: 20%;
}

.add-content > form > input, .add-content > form > textarea {
    /* border: 1px solid red; */
    border: 0.5px solid black;
    display: flex;
    margin-inline-start: 33%;
    margin-top: -22px;
    width: 40%;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.098);
}



/* view.php css */

.view-modal {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.405);
}
.view-content{
    border-radius: 20px ;
    margin: 3% auto;
    padding: 10px;
    width: 50%;
    height: 35em;
    background-color: white;
    box-shadow: 2px 2px 2px gray;

}

.view-content > form > label {
    /* border: 1px solid yellow; */
    font-size: 22px;
    font-weight: bold;
    margin-inline-start: 22%;
}

.view-content > form > span, .view-content > form > textarea, .view-content > form > input {
    /* border: 1px solid red; */
    border: none;
    background-color: rgba(128, 128, 128, 0.098);
    display: flex;
    margin-top: -30px;
    margin-inline-start: 38%;
    width: 40%;
    font-size: 18px;
    font-weight: bold;
}


.view-content > form > button {
    /* border: 1px solid red; */
    width: 15%;
    margin-left: 22%;
    box-shadow: 2px 2px 2px rgb(56, 56, 56);
    padding: 4px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 22, 22);
}

.view-content > form > button:nth-child(17) {
    background-color: rgb(0, 198, 89);
}

/* footer */
footer {
    /* border: 1px solid yellow; */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
}

footer > h4{
    /* border: 1px solid white; */
    margin-inline-start: 20%;
}
footer > .contact {
    margin-inline-end: 20%;
}

.contact > a, .contact > p {
    display: inline;
    text-decoration: none;
    color: black;
}

.contact > a:hover {
    color: white;
}
